<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Article Retention Days</string>
			<key>Key</key>
			<string>article_retention</string>
			<key>DefaultValue</key>
			<integer>30</integer>
			<key>Titles</key>
			<array>
				<string>1 Day</string>
				<string>7 Days</string>
				<string>1 Month</string>
				<string>2 Months</string>
				<string>3 Months</string>
				<string>4 Months</string>
				<string>6 Months</string>
				<string>1 Year</string>
			</array>
			<key>Values</key>
			<array>
				<integer>1</integer>
				<integer>7</integer>
				<integer>30</integer>
				<integer>60</integer>
				<integer>90</integer>
				<integer>120</integer>
				<integer>180</integer>
				<integer>360</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Placeholder Image</string>
			<key>Key</key>
			<string>show_placeholder</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
